streamlit
ifcopenshell
matplotlib
plotly
pandas
xlsxwriter
reportlab
qrcode
Pillow
datetime
fpdf
canvas
pytz
streamlit-aggrid
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
