streamlit
ifcopenshell
matplotlib
plotly
pandas
xlsxwriter
reportlab
qrcode
Pillow
datetime
fpdf
canvas
pytz
validators>=0.21.0 # not directly required, pinned by Snyk to avoid a vulnerability
